certifi
charset-normalizer
clip
contourpy
cycler
defusedxml
filelock
fonttools
fsspec
ftfy
git-filter-repo
idna
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
opencv-python
opencv-python-headless
packaging
pandas
pillow
psutil
py-cpuinfo
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
scikit-learn
scipy
seaborn
six
supervision
sympy
threadpoolctl
torch
torchaudio
torchvision
tqdm
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
wcwidth
